<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/config/spring-context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:/config/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        <!--<listener-class>com.bmf.listener.CommonListener</listener-class>-->
    </listener>
    <servlet>
        <servlet-name>bmf</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/config/springMVC-context.xml</param-value>
        </init-param>
        <init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <!--没啥用在sping下-->
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <async-supported>true</async-supported>
        <multipart-config>
            <!--临时文件地址需用绝对地址-->
            <location>D:\frp_workspace\tmp</location>
            <!--20M-->
            <max-file-size>20971520</max-file-size>
            <!--100M-->
            <max-request-size>104857600</max-request-size>
            <!--5M-->
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>bmf</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>async</servlet-name>
        <servlet-class>com.bmf.servlet.AsyncServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>async</servlet-name>
        <url-pattern>/sv1/async</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>com.bmf.filter.CharacterFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/err_page/page_403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/err_page/page_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/err_page/page_500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/err_page/page_500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
