# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/artifacts/Gradle___com_bmf___spring_1_0_SNAPSHOT_war.xml
*.xml
*.iml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_3_RELEASE.xml
.idea/compiler.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_3_RELEASE.xml
/.idea
/build
/.gradle/2.12-rc-1/taskArtifacts
/.gradle/4.1/fileChanges
/.gradle/4.1/fileContent
