<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.bmf">
        <context:include-filter type="regex" expression=".mail.impl.*"/>
        <context:include-filter type="regex" expression=".service.*"/>
        <context:include-filter type="regex" expression=".spring_auto.*"/>
        <context:include-filter type="regex" expression=".tools.*"/>
    </context:component-scan>

    <context:load-time-weaver weaver-class="org.springframework.instrument.classloading.ReflectiveLoadTimeWeaver"/>

    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" mode="aspectj"/>

    <bean id="hikariDataSource"
          class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="${hikaricp.jdbc.driverClassName}"/>
                <property name="jdbcUrl" value="${hikaricp.url}"/>
                <property name="username" value="${hikaricp.username}"/>
                <property name="password" value="${hikaricp.password}"/>
                <property name="connectionTestQuery" value="${hikaricp.connectionTestQuery}"/>
                <property name="connectionTimeout" value="${hikaricp.connectionTimeout}"/>
                <property name="idleTimeout" value="${hikaricp.idleTimeout}"/>
                <property name="maxLifetime" value="${hikaricp.maxLifetime}"/>
                <property name="maximumPoolSize" value="${hikaricp.maximumPoolSize}"/>
                <property name="minimumIdle" value="${hikaricp.minimumIdle}"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="dataSourceTransactionManager"
          p:dataSource-ref="hikariDataSource"
          p:rollbackOnCommitFailure="true"/>

    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate"
          p:dataSource-ref="hikariDataSource"
          p:lazyInit="true"
          p:queryTimeout="30"/>
    <!--p:maxRows="3000"-->

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
          p:cacheLimit="256">
        <constructor-arg name="dataSource" ref="hikariDataSource"/>
    </bean>

    <!--<context:load-time-weaver aspectj-weaving="autodetect"/>-->

    <bean class="org.springframework.transaction.support.TransactionTemplate" id="transactionTemplate"
          p:transactionManager-ref="dataSourceTransactionManager"
          p:isolationLevelName="ISOLATION_READ_COMMITTED"
          p:propagationBehaviorName="PROPAGATION_SUPPORTS"
          p:timeout="5"></bean>

    <!--<tx:advice id="txAdvice" transaction-manager="dataSourceTransactionManager">-->
    <!--<tx:attributes>-->
    <!--&lt;!&ndash;<tx:method name="tes*" read-only="true"/>&ndash;&gt;-->
    <!--<tx:method name="update*" isolation="DEFAULT" propagation="REQUIRES_NEW" rollback-for="java.lang.Exception"/>-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!--<aop:config>-->
    <!--<aop:pointcut id="pointcut" expression="execution(* com.bmf.service.*.*(..))"/>-->
    <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>-->
    <!--</aop:config>-->

    <!--redis连接池配置-->
    <bean class="redis.clients.jedis.JedisPoolConfig" id="jedisPoolConfig"
          p:maxTotal="${redis.pool.maxTotal}"
          p:maxWaitMillis="${redis.pool.maxWait}"
          p:minIdle="${redis.pool.minIdle}"
          p:maxIdle="${redis.pool.maxIdle}"
          p:testOnBorrow="${redis.pool.testOnBorrow}"/>

    <bean name="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="${redis.host-name}"
          p:password="${redis.pwd}"
          p:port="${redis.port}"
          p:usePool="true"
          p:database="${redis.database}"
          p:timeout="${redis.timeout}"
          p:poolConfig-ref="jedisPoolConfig"/>

    <bean name="jdkSerializationRedisSerializer"
          class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>

    <bean name="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connectionFactory-ref="jedisConnectionFactory"/>

    <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg index="0" ref="redisTemplate"/>
    </bean>
    <!--p:enableTransactionSupport="true"-->
    <!--/>-->


    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.qq.com"/>
        <property name="username" value="752294972@qq.com"/>
        <property name="password" value="hfwwashxsmkxbfdh"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">30000</prop>
                <prop key="mail.debug">true</prop>
                <prop key="mail.smtp.ssl.enable">true</prop>
            </props>
        </property>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="752294972@qq.com"/>
        <property name="subject" value="Your order"/>
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages/windows</value>
            </list>
        </property>
    </bean>

    <beans profile="pro">
        <context:property-placeholder location="classpath:/config/pro/jdbc.properties" order="1"
                                      ignore-unresolvable="true"/>
        <context:property-placeholder location="classpath:/config/pro/redis.properties" order="1"
                                      ignore-unresolvable="true"/>
    </beans>

    <!--默认的profile 如果没有在环境变量里面指定profile   有指定的profile就会替换掉默认的-->
    <!-- -Dspring.profiles.active="profile1,profile2" -->
    <beans profile="default">
        <context:property-placeholder location="classpath:/config/dev/jdbc.properties" order="1"
                                      ignore-unresolvable="true"/>
        <context:property-placeholder location="classpath:/config/dev/redis.properties" order="1"
                                      ignore-unresolvable="true"/>
    </beans>

</beans>
